@(knowledgeSources: List[KnowledgeSourceFileUpload])


@main("Knowledge Sources","KS") {

Welcome to the Knowledge Source Management.

<div id="ksNav">
    <a href="@controllers.routes.KnowledgeSource.upload()">Upload a Knowledge Source</a>
</div>

<div id="ksList">
    <dl>
        @for(s <- knowledgeSources) {
        <dt>Name:</dt>
        <dd>@s.name</dd>

        <dt>Download:</dt>
        <dd><a href="@controllers.routes.KnowledgeSource.retrieve(s.id)">Link</a></dd>
        }
    </dl>
</div>


}