@(knowledgeSources: List[KnowledgeSourceFileUpload])


@main("Knowledge Sources","KS") {

<h1>Knowledge Sources</h1>

@if(knowledgeSources.isEmpty()){

There are no Knowledge Sources Configured, do you wish to <a href="@routes.KnowledgeSource.add()">add</a> one?

} else {
  <div id="ksList">
    <dl>
        @for(s <- knowledgeSources) {
        <dt>Name:</dt>
        <dd>@s.name</dd>

        <dt>Download:</dt>
        <dd><a href="@routes.KnowledgeSource.retrieve(s.id)">Link</a></dd>
        }
    </dl>
  </div>
}


}